@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@mixin bg_image($url, $size: 100% 100%) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url($url);
}

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin font($w, $s, $h: 1.5) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $w;
  font-size: $s;
  line-height: $h;
}
.btn {
  cursor: pointer;
  padding: 6px 12px;
  height: 36px;
  border: none;
  @include font(400, 16px);
  outline: none;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
